<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>50</string>
					<key>EndingLineNumber</key>
					<string>84</string>
					<key>StartingColumnNumber</key>
					<string>50</string>
					<key>StartingLineNumber</key>
					<string>84</string>
					<key>Timestamp</key>
					<string>782941823.839855</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>PlexChannelsTV/Networking/ResourceXMLParser.swift</string>
					</dict>
				</dict>
			</dict>
			<key>title</key>
			<string>Error: Property 'Part' is not a member type of 'PlexMediaItem.Media'</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>46</string>
					<key>EndingLineNumber</key>
					<string>85</string>
					<key>StartingColumnNumber</key>
					<string>46</string>
					<key>StartingLineNumber</key>
					<string>85</string>
					<key>Timestamp</key>
					<string>782941823.839855</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>PlexChannelsTV/Networking/ResourceXMLParser.swift</string>
					</dict>
				</dict>
			</dict>
			<key>title</key>
			<string>Error: 'Artwork' is not a member type of struct 'PlexKit.PlexMediaItem'</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>43</string>
					<key>EndingLineNumber</key>
					<string>94</string>
					<key>StartingColumnNumber</key>
					<string>43</string>
					<key>StartingLineNumber</key>
					<string>94</string>
					<key>Timestamp</key>
					<string>782941823.839855</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>PlexChannelsTV/Networking/ResourceXMLParser.swift</string>
					</dict>
				</dict>
			</dict>
			<key>title</key>
			<string>Error: Extra arguments at positions #1, #2, #3, #4, #5, #6, #7, #8, #9, #10, #11, #12, #13, #14 in call</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>16</string>
					<key>EndingLineNumber</key>
					<string>95</string>
					<key>StartingColumnNumber</key>
					<string>16</string>
					<key>StartingLineNumber</key>
					<string>95</string>
					<key>Timestamp</key>
					<string>782941823.839855</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>PlexChannelsTV/Networking/ResourceXMLParser.swift</string>
					</dict>
				</dict>
			</dict>
			<key>title</key>
			<string>Error: Missing argument for parameter 'from' in call</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>52</string>
					<key>EndingLineNumber</key>
					<string>96</string>
					<key>StartingColumnNumber</key>
					<string>52</string>
					<key>StartingLineNumber</key>
					<string>96</string>
					<key>Timestamp</key>
					<string>782941823.839855</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>PlexChannelsTV/Networking/ResourceXMLParser.swift</string>
					</dict>
				</dict>
			</dict>
			<key>title</key>
			<string>Error: Value of optional type 'TimeInterval?' (aka 'Optional&lt;Double&gt;') must be unwrapped to a value of type 'TimeInterval' (aka 'Double')</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>43</string>
					<key>EndingLineNumber</key>
					<string>113</string>
					<key>StartingColumnNumber</key>
					<string>43</string>
					<key>StartingLineNumber</key>
					<string>113</string>
					<key>Timestamp</key>
					<string>782941823.839855</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>PlexChannelsTV/Networking/ResourceXMLParser.swift</string>
					</dict>
				</dict>
			</dict>
			<key>title</key>
			<string>Error: Cannot call value of non-function type '[PlexMediaItem.Part]?'</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>43</string>
					<key>EndingLineNumber</key>
					<string>113</string>
					<key>StartingColumnNumber</key>
					<string>43</string>
					<key>StartingLineNumber</key>
					<string>113</string>
					<key>Timestamp</key>
					<string>782941823.839855</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>PlexChannelsTV/Networking/ResourceXMLParser.swift</string>
					</dict>
				</dict>
			</dict>
			<key>title</key>
			<string>Error: 'Part' is inaccessible due to 'private' protection level</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>52</string>
					<key>EndingLineNumber</key>
					<string>116</string>
					<key>StartingColumnNumber</key>
					<string>52</string>
					<key>StartingLineNumber</key>
					<string>116</string>
					<key>Timestamp</key>
					<string>782941823.839855</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>PlexChannelsTV/Networking/ResourceXMLParser.swift</string>
					</dict>
				</dict>
			</dict>
			<key>title</key>
			<string>Error: Value of optional type 'TimeInterval?' (aka 'Optional&lt;Double&gt;') must be unwrapped to a value of type 'TimeInterval' (aka 'Double')</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>43</string>
					<key>EndingLineNumber</key>
					<string>125</string>
					<key>StartingColumnNumber</key>
					<string>43</string>
					<key>StartingLineNumber</key>
					<string>125</string>
					<key>Timestamp</key>
					<string>782941823.839855</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>PlexChannelsTV/Networking/ResourceXMLParser.swift</string>
					</dict>
				</dict>
			</dict>
			<key>title</key>
			<string>Error: Type 'PlexMediaItem' has no member 'Artwork'</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>26</string>
					<key>EndingLineNumber</key>
					<string>144</string>
					<key>StartingColumnNumber</key>
					<string>26</string>
					<key>StartingLineNumber</key>
					<string>144</string>
					<key>Timestamp</key>
					<string>782941823.839855</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>PlexChannelsTV/Networking/ResourceXMLParser.swift</string>
					</dict>
				</dict>
			</dict>
			<key>title</key>
			<string>Error: Cannot assign to property: 'parts' is a get-only property</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>39</string>
					<key>EndingLineNumber</key>
					<string>148</string>
					<key>StartingColumnNumber</key>
					<string>39</string>
					<key>StartingLineNumber</key>
					<string>148</string>
					<key>Timestamp</key>
					<string>782941823.839855</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>PlexChannelsTV/Networking/ResourceXMLParser.swift</string>
					</dict>
				</dict>
			</dict>
			<key>title</key>
			<string>Error: Extra arguments at positions #1, #2, #3, #4, #5, #6, #7, #8, #9, #10, #11, #12, #13, #14, #15, #16, #17, #18, #19, #20, #21, #22, #23, #24, #25, #26, #27, #28, #29, #30, #31 in call</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>16</string>
					<key>EndingLineNumber</key>
					<string>149</string>
					<key>StartingColumnNumber</key>
					<string>16</string>
					<key>StartingLineNumber</key>
					<string>149</string>
					<key>Timestamp</key>
					<string>782941823.839855</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>PlexChannelsTV/Networking/ResourceXMLParser.swift</string>
					</dict>
				</dict>
			</dict>
			<key>title</key>
			<string>Error: Missing argument for parameter 'from' in call</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>63</string>
					<key>EndingLineNumber</key>
					<string>168</string>
					<key>StartingColumnNumber</key>
					<string>63</string>
					<key>StartingLineNumber</key>
					<string>168</string>
					<key>Timestamp</key>
					<string>782941823.839855</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>PlexChannelsTV/Networking/ResourceXMLParser.swift</string>
					</dict>
				</dict>
			</dict>
			<key>title</key>
			<string>Error: Value of optional type 'TimeInterval?' (aka 'Optional&lt;Double&gt;') must be unwrapped to a value of type 'TimeInterval' (aka 'Double')</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>23</string>
					<key>EndingLineNumber</key>
					<string>177</string>
					<key>StartingColumnNumber</key>
					<string>23</string>
					<key>StartingLineNumber</key>
					<string>177</string>
					<key>Timestamp</key>
					<string>782941823.839855</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>PlexChannelsTV/Networking/ResourceXMLParser.swift</string>
					</dict>
				</dict>
			</dict>
			<key>title</key>
			<string>Error: Cannot infer contextual base in reference to member 'episode'</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
